# balong modem
CONFIG_HISI_BALONG_EXTRA_MODEM=y
CONFIG_HISI_BALONG_MODEM=m
CONFIG_HISI_BALONG_MODEM_HI3650=y


#IPC
CONFIG_IPC_DRIVER=n

#ICC
CONFIG_ICC_BALONG=n
CONFIG_ICC_BALONG_TEST=n

#SEC_CALL
CONFIG_SEC_CALL=n

#modem_boot
CONFIG_MODEM_BOOT=y
CONFIG_UART_BOOT=y
CONFIG_XLOADER_DBG=y

#balong_pcie_dev
CONFIG_PCIE_MODEM_BOOT=y
CONFIG_BALONG_PCIE_DEV=y
CONFIG_BALONG_PCIE_AP_DEV=y


#pmom
CONFIG_PM_OM_BALONG=y
CONFIG_PM_OM_BALONG_TEST=n

#easy_shell
CONFIG_BALONG_EASY_SHELL=n

#IPF
CONFIG_IPF_SUPPORT=n
CONFIG_IPF_TEST=n

#MAA
# CONFIG_MAA_BALONG is not set

#PSAM
CONFIG_PSAM_SUPPORT=n

#DSP
CONFIG_DSP_BALONG=n

#HKADC
CONFIG_HKADC_BALONG=n

#nvim
CONFIG_NVIM=n
CONFIG_NVIM_TEST=n

#Loadm
CONFIG_IMAGE_LOAD=n

#OnOff
CONFIG_BALONG_ONOFF=n
CONFIG_BALONG_MODEM_ONOFF=n

# sync
CONFIG_SYNC_BALONG=n

#hwadp
CONFIG_HW_IP_BASE_ADDR=n

#rfile
CONFIG_RFILE_SUPPORT=n

#MEM
CONFIG_MEM_BALONG=n

#timer
CONFIG_HARD_TIMER=n
CONFIG_SOFT_TIMER=n
CONFIG_BBP_TIMER=n

#UDI
CONFIG_UDI_SUPPORT=n

#RESET
CONFIG_BALONG_MODEM_RESET=n

CONFIG_BALONG_MODEM_POWER_MANAGE=n
CONFIG_HIFI_RESET=n

#S_MEMORY
CONFIG_S_MEMORY=n
CONFIG_S_MEMORY_TEST=n

#SYSCTRL
CONFIG_SYSCTRL=n
CONFIG_SYSCTRL_TEST=n

# efuse
CONFIG_EFUSE_BALONG=n
CONFIG_EFUSE_BALONG_AGENT=n

#---------------------------
#dual modem
CONFIG_DUAL_MODEM=n
CONFIG_BALONG_OAM_PS=n
CONFIG_FRAME_WARN=2048


#OM
CONFIG_HISI_DUMP=n

#PMIC OCP
CONFIG_PMIC_OCP=n
#BBP
CONFIG_BBP_ACORE=n

#COLD_PATCH
CONFIG_COLD_PATCH=n

#PCIE_NIC
CONFIG_BALONG_PCIE_ETH_RC=n
